# Ignorar archivos de sistema de macOS
.DS_Store

# Ignorar archivos generados por Maven y Gradle
mvnw
mvnw.cmd
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

# Ignorar archivos de IntelliJ IDEA y Eclipse
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Ignorar logs y archivos temporales
logs/
*.log
target/
tmp/

# Ignorar configuraciones de entorno
.env
.env.*
!.env.example
src/main/resources/application-local.properties

# Ignorar dependencias descargadas
**/node_modules/

docker-compose.override.yml
